﻿<div class="color-line">
</div>
<div id="logo" class="light-version">
    <span>
        HIPPO PERSONS
    </span>
</div>
<nav role="navigation">
    <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
    <div class="small-logo">
        <span class="text-primary">HIPPOPEOPLE APP</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
        <div class="form-group">
            <input type="text" placeholder="Search something special" class="form-control" name="search">
        </div>
    </form>
    <div class="mobile-menu">
        <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
            <i class="fa fa-chevron-down"></i>
        </button>
        <div class="collapse mobile-navbar" id="mobile-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="" href="@Url.Action("Login", "CommonViews")">Login</a>
                </li>
                <li>
                    <a class="" href="@Url.Action("Register", "CommonViews")">Logout</a>
                </li>
                <li>
                    <a class="" href="@Url.Action("ProfilePage", "AppViews")">Profile</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="navbar-right">
        <ul class="nav navbar-nav no-borders">
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <i class="pe-7s-keypad"></i>
                </a>
                <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                    <table>
                        <tbody>
                            <tr>
                                <td>
                                    <a href="@Url.Action("StronglyTypedContact", "Administration")">
                                        <i class="pe pe-7s-users text-info"></i>
                                        <h5>Persons MVC</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ContactDataTable", "Administration")">
                                        <i class="pe pe-7s-users text-warning"></i>
                                        <h5>Persons Datatables</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ContactTelerik", "Administration")">
                                        <i class="pe pe-7s-users text-success"></i>
                                        <h5>Persons Telerik</h5>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="@Url.Action("StronglyTypedContactCards", "Administration")">
                                        <i class="pe pe-7s-box1 text-info"></i>
                                        <h5>Person Cards</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ContactAngularJs", "Administration")">
                                        <i class="pe pe-7s-users text-danger"></i>
                                        <h5>Person Angular</h5>
                                    </a>
                                </td>
                                <td>
                                    <a href="@Url.Action("AttributeTypes", "Administration")">
                                        <i class="pe pe-7s-tools text-success"></i>
                                        <h5>Attribute Type</h5>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </li>
            <li class="dropdown">
                <a href="#" onclick="$('#hippoLogoutForm').submit();">
                    <i class="pe-7s-upload pe-rotate-90"></i>
                </a>
            </li>
        </ul>
    </div>
</nav>
