﻿@using HIPPOPEOPLE.Models;
@using HIPPOPEOPLE.Controllers;
@using System.Globalization;

@{ 
    AdministrationController ac = new AdministrationController();
    ApplicationDbContext db = new ApplicationDbContext();

    string fn, ln, ffn = "";
    string roles = "";
    if (User.Identity.IsAuthenticated)
    {
        HIPPOPEOPLE.Models.Utilities lu = new HIPPOPEOPLE.Models.Utilities();
        fn = lu.GetUser(User)?.FirstName;
        ln = lu.GetUser(User)?.LastName;
        ffn = $"{fn} {ln}";

        var allRoles = db.Roles.ToList();
        lu.GetUser(User).Roles.ToList().ForEach(r =>
        {
            roles += allRoles.Where(rr => rr.Id == r.RoleId).FirstOrDefault().Name + ", ";
        });
    }
    else
    {

    }
}

<div id="navigation">
    <div class="profile-picture">
        <a href="@Url.Action("Index", "Dashboard")">
            <img src="~/Images/profile.jpg" class="img-circle m-b" alt="logo">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">@ffn</span>

            <div class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    <small class="text-muted">@roles <b class="caret"></b></small>
                </a>
                <ul class="dropdown-menu animated fadeInRight m-t-xs">
                    <li><a href="https://www.linkedin.com/in/aghoghobernard/">LinkedIn</a></li>
                    <li><a href="https://bitbucket.org/infiniteghoz/">Bitbucket</a></li>
                    <li><a href="https://bitbucket.org/tegohznerds/people">Hippo Repository</a></li>
                    <li><a href="https://github.com/teghoz">Github</a></li>
                    <li class="divider"></li>
                    <li><a href="#" onclick="$('#hippoLogoutForm').submit();">Logout</a></li>
                </ul>
            </div>
            
        </div>
    </div>

    <ul class="nav metismenu" id="side-menu">
        <li class="@Html.IsSelected(action: "Index")"><a href="@Url.Action("InitialSetup", "Account")"><i class="fa fa-info-circle"></i>&nbsp;PROJECT Info</a></li>
        <li class="@Html.IsSelected(controller: "Administration")">
            <a href="#"><span class="nav-label"><i class="fa fa-list-ul"></i>&nbsp;Persons</span><span class="fa arrow"></span> </a>
            <ul class="nav nav-second-level">
                <li class="@Html.IsSelected(action: "StronglyTypedContact")"><a href="@Url.Action("StronglyTypedContact", "Administration")"><i class="fa fa-user"></i>&nbsp;Native MVC</a></li>
                <li class="@Html.IsSelected(action: "StronglyTypedContactCards")"><a href="@Url.Action("StronglyTypedContactCards", "Administration")"><i class="fa fa-user"></i>&nbsp;Native MVC Cards</a></li>
                <li class="@Html.IsSelected(action: "ContactDataTable")"><a href="@Url.Action("ContactDataTable", "Administration")"><i class="fa fa-user"></i>&nbsp;DATATABLES</a></li>
                <li class="@Html.IsSelected(action: "ContactTelerik")"><a href="@Url.Action("ContactTelerik", "Administration")"><i class="fa fa-user"></i>&nbsp;TELERIK</a></li>
                <li class="@Html.IsSelected(action: "ContactJavascript")"><a href="@Url.Action("ContactJavascript", "Administration")"><i class="fa fa-user"></i>&nbsp;JAVASCRIPT ONLY</a></li>
                <li class="@Html.IsSelected(action: "ContactAngularJs")"><a href="@Url.Action("ContactAngularJs", "Administration")"><i class="fa fa-user"></i>&nbsp;ANGULARJS</a></li>
            </ul>            
        </li>
        <li class="@Html.IsSelected(action: "AttributeType")"><a href="@Url.Action("AttributeTypes", "Administration")"><i class="fa fa-briefcase"></i>&nbsp;Atribute Type</a></li>      
    </ul>
</div>