﻿@model  HIPPOPEOPLE.Models.AssignmentViewModel

<div class="form-group">
    <input type="hidden" name="ContactAtrribute[@Model.Index].ContactId" value="@Model.Contact.Id" />
    <label class="col-sm-2 control-label">Attribute</label>
    <div class="col-sm-4">
        @Html.DropDownList("ContactAtrribute["+@Model.Index+"].AttributeId", Model.AttributeTypes.Select(cs => new SelectListItem() { Text = cs.Attribute, Value = cs.Id.ToString() }), new { @class = "form-control" })
    </div>
    <label class="col-sm-2 control-label">Value</label>
    <div class="col-sm-4">
        <input class="form-control" type="text" name="ContactAtrribute[@Model.Index].Value" value="">
    </div>
</div>
