﻿<div id="hbreadcrumb" class="pull-right m-t-lg">
    <ol class="hbreadcrumb breadcrumb">
        <li><a href="@Url.Action("Index", "Administration")">Project</a></li>
        <li class="active">
            <span><a href="@Url.Action("AttributeTypes", "Administration")">Attribute Type List</a></span>
        </li>
    </ol>
</div>
