﻿<div id="hbreadcrumb" class="pull-right m-t-lg">
    <ol class="hbreadcrumb breadcrumb">
        <li><a href="@Url.Action("Index", "Administration")">Project</a></li>
        <li class="active">
            <span><a href="@Url.Action("StronglyTypedContact", "Administration")">People List</a></span>
        </li>
        <li class="active">
            <span><a href="@Url.Action("StronglyTypedContactCards", "Administration")">People Cards</a></span>
        </li>
    </ol>
</div>
