﻿@model  HIPPOPEOPLE.Models.AssignmentViewModel

@{
    ViewBag.Title = "HIPPOPEOPLE Dashboard";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_PeopleBreadCrumb")
            <h2 class="font-light m-b-xs">
                Person
            </h2>
            <small>Many panels design give you many possibilities.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button class="btn btn-primary btn-assign-add" type="button" data-contactid="@Model.Contact.Id"><i class="fa fa-plus"></i>&nbsp;Add Item</button>
            </div>
            <br /><br />
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        @*<a class="btn btn-primary"><i class="fa fa-plus"></i></a>*@
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <i class="fa fa-user"></i>&nbsp;Assign Attributes to @Model.Contact.FirstName @Model.Contact.LastName
                </div>
                <div class="panel-body">

                    
                    <div class="col-md-12">

                        @using (Html.BeginForm("AssignContacts", "Administration", FormMethod.Post, new { @class = "form-horizontal", id="frm-assign"}))
                        {
                            <div class="assign-items">

                            </div>
                        }
                    </div>

                </div>
                <div class="panel-footer">
                    <div class="">
                        <button class="btn btn-primary" type="button" onclick="$('#frm-assign').submit()"><i class="fa fa-save"></i>&nbsp;Save changes</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="pull-right">
                <button class="btn btn-primary" type="button" onclick="window.location.href ='/Administration/AttributeTypes/'"><i class="fa fa-list"></i>&nbsp;Attributes</button>
            </div>
            <br /><br />
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        @*<a class="btn btn-primary"><i class="fa fa-plus"></i></a>*@
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <i class="fa fa-user"></i>&nbsp;Assigned Attributes to @Model.Contact.FirstName @Model.Contact.LastName
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Person</th>
                                    <th>Attribute Type</th>
                                    <th>Value</th>
                                    <th width="100px">Created On</th>
                                    <th width="30px" style="text-align:center">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model.ContactAtrributes)
                                {
                                    <tr>
                                        <td>@i.Contact.FirstName @i.Contact.LastName</td>
                                        <td>@i.AttributeType.Attribute</td>
                                        <td>@i.Value</td>
                                        <td>@i.DateCreated.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            <a href="/Administration/ContactAttribute/Delete/@i.Id" data-toggle="tooltip" title="Delete Person"><i class="fa fa-trash fa-2x" style="color:red"></i></a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="panel-footer">
                    Items
                </div>
            </div>
        </div>
    </div>

</div>


@section Scripts {
    <script src="~/Scripts/Administration/SharedUtils.js"></script>
    <script src="~/Scripts/Administration/ContactAssignment.js"></script>
}
