﻿@{
    ViewBag.Title = "Contacts Telerik Kendo Grid";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<link rel="stylesheet" type="text/css" href="~/Content/Common/kendo/2015.3.1111/kendo.common.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Common/kendo/2015.3.1111/kendo.mobile.all.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Common/kendo/2015.3.1111/kendo.dataviz.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Common/kendo/2015.3.1111/kendo.dataviz.default.min.css" />
<link rel="stylesheet" type="text/css" href="~/Content/Common/kendo/2015.3.1111/kendo.default.min.css" />

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_PeopleBreadCrumb")
            <h2 class="font-light m-b-xs">
                Persons
            </h2>
            <small>Using Telerik kendo Functionality.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <span class="pull-right"><a class="btn btn-primary" href="/Administration/StronglyTypedContact/NewPerson"><i class="fa fa-plus"></i>&nbsp;New Person</a></span>
        </div>
        
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    This is a Kendo Grid
                </div>
                <div class="panel-body">
                    <div class="persons"></div>
                </div>
                <div class="panel-footer">
                    Table - <span class="dataTable-count"></span> rows
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/datetimepicker/css")
    @Styles.Render("~/bundles/clockpicker/css")
}

@section Scripts {
    <script src="~/Scripts/Common/Telerik/kendo.all.min.js" defer></script>
    <script src="~/Scripts/Common/Telerik/kendo.aspnetmvc.min.js" defer></script>
    <script src="~/Scripts/Administration/SharedUtils.js"></script>
    <script src="~/Scripts/Administration/ContactsKendo.js"></script>
}
