﻿@{
    ViewBag.Title = "Contacts AngularJs";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_PeopleBreadCrumb")
            <h2 class="font-light m-b-xs">
                Persons
            </h2>
            <small>Using AngularJs.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <span class="pull-right"><a class="btn btn-primary" href="/Administration/StronglyTypedContact/NewPerson"><i class="fa fa-plus"></i>&nbsp;New Person</a></span>
        </div>

    </div>

    <div class="row" ng-app="hippoApp" ng-app lang="en">
        <div class="col-lg-12"  ng-controller="patients">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    This is a HtML 5 and AngularJS
                </div>
                <div class="panel-body">
                    <div>
                        <div class="">
                            <div class="row">
                                <div class="col-md-2">
                                    PageSize:
                                    <select ng-model="entryLimit" class="form-control">
                                        <option>5</option>
                                        <option>10</option>
                                        <option>20</option>
                                        <option>50</option>
                                        <option>100</option>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    Filter:
                                    <input type="text" ng-model="search" ng-change="filter()" placeholder="Filter" class="form-control" />
                                </div>
                                <div class="col-md-7">
                                    <h5>Filtered {{ filtered.length }} of {{ totalItems}} total Persons</h5>
                                </div>
                            </div>
                            <br />
                            <div class="table-condensed">
                                <div class="col-md-12 table-condensed" ng-show="filteredItems > 0">

                                    <table class="table table-striped table-bordered table-responsive table-condensed">
                                        <thead>
                                            <tr>
                                                <th>First Name&nbsp;<a ng-click="sort_by('FirstName');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>Middle Name&nbsp;<a ng-click="sort_by('MiddleName');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>Last Name&nbsp;<a ng-click="sort_by('LastName');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>Email&nbsp;<a ng-click="sort_by('EmailAddress');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>Phone&nbsp;<a ng-click="sort_by('Phone');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>Country&nbsp;<a ng-click="sort_by('Country');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>DateOfBirth&nbsp;<a ng-click="sort_by('DateOfBirth');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>Created On&nbsp;<a ng-click="sort_by('DateCreated');"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th>Last Updated&nbsp;<a ng-click="sort_by('DateLastUpdated')"><i class="glyphicon glyphicon-sort"></i></a></th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                                                <td>{{data.FirstName}}</td>
                                                <td>{{data.MiddleName}}</td>
                                                <td>{{data.LastName}}</td>
                                                <td>{{data.EmailAddress}}</td>
                                                <td>{{data.Phone}}</td>
                                                <td>{{data.Country.CountryName}}</td>
                                                <td>{{data.DateOfBirth}}</td>
                                                <td>{{data.DateCreated}}</td>
                                                <td>{{data.DateLastUpdated}}</td>
                                                <td>
                                                    <a href="/Administration/Contact/AssignContact/{{data.Id}}" data-toggle="tooltip" title="Assign Attribute"><i class="fa fa-hand-lizard-o fa-2x"></i></a>
                                                    <a href="/Administration/StronglyTypedContact/EditPerson/{{data.Id}}" data-toggle="tooltip" title="Edit Person"><i class="fa fa-edit fa-2x" style="color:blue"></i></a>
                                                    <a href="/Administration/StronglyTypedContact/DeletePerson/{{data.Id}}" data-toggle="tooltip" title="Delete Person"><i class="fa fa-trash fa-2x" style="color:red"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12" ng-show="filteredItems == 0">
                                    <div class="col-md-12">
                                        <h4>No Person found</h4>
                                    </div>
                                </div>
                                <div class="col-md-12" ng-show="filteredItems > 0">
                                    <div pagination="" page="currentPage" on-select-page="setPage(page)" boundary-links="true" total-items="filteredItems" items-per-page="entryLimit" class="pagination-small" previous-text="&laquo;" next-text="&raquo;"></div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    Table - {{ totalItems}} rows
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Modal title</h4>
                <small class="font-bold">Lorem Ipsum is simply dummy text.</small>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="@Url.Action("EditPerson", "Administration")" method="post" id="edit-form">
                    <input class="form-control Id" type="hidden" name="Contact.Id">
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-4"><input class="form-control FirstName" type="text" name="Contact.FirstName"></div>
                        <label class="col-sm-2 control-label">Middle Name</label>
                        <div class="col-sm-4"><input class="form-control MiddleName" type="text" name="Contact.MiddleName"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-4"><input class="form-control LastName" type="text" name="Contact.LastName"></div>
                        <label class="col-sm-2 control-label">Email Address</label>
                        <div class="col-sm-4"><input class="form-control EmailAddress" type="text" name="Contact.EmailAddress"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-4"><input class="form-control Phone" type="text" name="Contact.Phone"></div>
                        <label class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-4">
                            @*@Html.DropDownListFor(c => c.Contact.CountryId, Model.Countries.Select(cs => new SelectListItem() { Text = cs.CountryName, Value = cs.ID.ToString() }), new { @class = "form-control CountryId" })*@
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">DOB</label>
                        <div class="col-sm-4">
                            @*@Html.TextBoxFor(c => c.Contact.DateOfBirth, new { @class = "form-control datapicker personal DateOfBirth" })*@
                        </div>
                        <label class="col-sm-2 control-label">Gravatar</label>
                        <div class="col-sm-4"><input id="Gravatar" type="text" value="" class="form-control Gravatar" name="Contact.Gravatar"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="$('#edit-form').submit();" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/datetimepicker/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/ui-bootstrap-tpls-0.10.0.min.js"></script>
    <script src="~/Scripts/Administration/ContactAngularJs.js"></script>
}
