﻿@model  HIPPOPEOPLE.Models.NewPersonViewModel

@{
    ViewBag.Title = "Contacts Javascript";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_PeopleBreadCrumb")
            <h2 class="font-light m-b-xs">
                Persons
            </h2>
            <small>Using Native Jvascript.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <span class="pull-right"><a class="btn btn-primary" href="/Administration/StronglyTypedContact/NewPerson"><i class="fa fa-plus"></i>&nbsp;New Person</a></span>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    This is a HtML 5, JAVASCRIPT and Ajax
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" width="100%" id="person-table">
                        <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Country</th>
                                <th>DOB</th>
                                <th>Created On</th>
                                <th>Last Updated</th>
                                <th width="150px">Action</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
                <div class="panel-footer">
                    Table - <span class="dataTable-count"></span> rows
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="color-line"></div>
            <div class="modal-header">
                <h4 class="modal-title">Edit <span class="edit-persons"></span></h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" action="@Url.Action("EditPerson", "Administration")" method="post" id="edit-form">
                    <input class="form-control Id" type="hidden" name="Contact.Id">
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-4"><input class="form-control FirstName" type="text" name="Contact.FirstName"></div>
                        <label class="col-sm-2 control-label">Middle Name</label>
                        <div class="col-sm-4"><input class="form-control MiddleName" type="text" name="Contact.MiddleName"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-4"><input class="form-control LastName" type="text" name="Contact.LastName"></div>
                        <label class="col-sm-2 control-label">Email Address</label>
                        <div class="col-sm-4"><input class="form-control EmailAddress" type="text" name="Contact.EmailAddress"></div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Phone</label>
                        <div class="col-sm-4"><input class="form-control Phone" type="text" name="Contact.Phone"></div>
                        <label class="col-sm-2 control-label">Country</label>
                        <div class="col-sm-4">
                            @Html.DropDownListFor(c => c.Contact.CountryId, Model.Countries.Select(cs => new SelectListItem() { Text = cs.CountryName, Value = cs.ID.ToString() }), new { @class = "form-control CountryId" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">DOB</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(c => c.Contact.DateOfBirth, new { @class = "form-control datapicker personal DateOfBirth" })
                        </div>
                        <label class="col-sm-2 control-label">Gravatar</label>
                        <div class="col-sm-4"><input id="Gravatar" type="text" value="" class="form-control Gravatar" name="Contact.Gravatar"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" onclick="$('#edit-form').submit();" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Styles {
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/datetimepicker/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    <script src="~/Scripts/Administration/SharedUtils.js"></script>
    <script src="~/Scripts/Administration/ContactJavascript.js"></script>
}
