﻿@model  HIPPOPEOPLE.Models.NewPersonViewModel

@{
    ViewBag.Title = "Edit Person";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_PeopleBreadCrumb")
            <h2 class="font-light m-b-xs">
                Person
            </h2>
            <small>Many panels design give you many possibilities.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        @*<a class="btn btn-primary"><i class="fa fa-plus"></i></a>*@
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <i class="fa fa-user"></i>&nbsp;New Person
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="@Url.Action("EditPerson", "Administration")" method="post">
                        <input class="form-control" type="hidden" name="Contact.Id" value="@Model.Contact.Id">
                        <div class="hr-line-dashed"></div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">First Name</label>
                            <div class="col-sm-4"><input class="form-control" type="text" name="Contact.FirstName" value="@Model.Contact.FirstName"></div>
                            <label class="col-sm-2 control-label">Middle Name</label>
                            <div class="col-sm-4"><input class="form-control" type="text" name="Contact.MiddleName" value="@Model.Contact.MiddleName"></div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Last Name</label>
                            <div class="col-sm-4"><input class="form-control" type="text" name="Contact.LastName" value="@Model.Contact.LastName"></div>
                            <label class="col-sm-2 control-label">Email Address</label>
                            <div class="col-sm-4"><input class="form-control" type="text" name="Contact.EmailAddress" value="@Model.Contact.EmailAddress"></div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Phone</label>
                            <div class="col-sm-4"><input class="form-control" type="text" name="Contact.Phone" value="@Model.Contact.Phone"></div>
                            <label class="col-sm-2 control-label">Country</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(c => c.Contact.CountryId, Model.Countries.Select(cs => new SelectListItem() { Text = cs.CountryName, Value = cs.ID.ToString() }), new { @class = "form-control"})
                            </div>
                        </div> 

                        <div class="form-group">
                            <label class="col-sm-2 control-label">DOB</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(c => c.Contact.DateOfBirth, new { @class = "form-control datapicker personal" })
                            </div>
                            <label class="col-sm-2 control-label">Gravatar</label>
                            <div class="col-sm-4"><input id="Gravatar" type="text" class="form-control" name="Contact.Gravatar" value="@Model.Contact.Gravatar"></div>
                        </div>                      

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-danger" type="button" onclick="window.location.href='@Url.Action("Contacts","Administration")'"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>&nbsp;Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/datetimepicker/css")
    @Styles.Render("~/bundles/clockpicker/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @Scripts.Render("~/bundles/clockpicker/js")
    <script src="~/Scripts/Administration/Contacts.js"></script>
}
