﻿@model  HIPPOPEOPLE.Models.NewPersonViewModel

@{
    ViewBag.Title = "New Attribute Type";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_AttributeTypeBreadCrumb")
            <h2 class="font-light m-b-xs">
                Attribute Type
            </h2>
            <small>Adding a new Attribute.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        @*<a class="btn btn-primary"><i class="fa fa-plus"></i></a>*@
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    <i class="fa fa-user"></i>&nbsp;New AttributeType
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" action="@Url.Action("AddAttributeType", "Administration")" method="post">
                        <div class="hr-line-dashed"></div> 
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Attribute Type</label>
                            <div class="col-sm-10"><input class="form-control" type="text" name="Attribute"></div>
                        </div>                  

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-2">
                                <button class="btn btn-danger" type="button" onclick="window.location.href='@Url.Action("AttributeType","Administration")'"><i class="fa fa-times-circle"></i>&nbsp;Cancel</button>
                                <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>&nbsp;Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    This is standard panel footer
                </div>
            </div>
        </div>
    </div>

</div>

@section Styles {
    @Styles.Render("~/bundles/select2/css")
    @Styles.Render("~/bundles/datepicker/css")
    @Styles.Render("~/bundles/bootstrapCheckbox/css")
    @Styles.Render("~/bundles/datetimepicker/css")
    @Styles.Render("~/bundles/clockpicker/css")
}

@section Scripts {
    @Scripts.Render("~/bundles/datatables/js")
    @Scripts.Render("~/bundles/datatablesBootstrap/js")
    @Scripts.Render("~/bundles/datatablesPlugins/js")
    @Scripts.Render("~/bundles/moment/js")
    @Scripts.Render("~/bundles/select2/js")
    @Scripts.Render("~/bundles/datepicker/js")
    @Scripts.Render("~/bundles/datetimepicker/js")
    @Scripts.Render("~/bundles/clockpicker/js")
    <script src="~/Scripts/Administration/Contacts.js"></script>
}
