﻿@model HIPPOPEOPLE.Models.ContactCardViewModel

@{
    ViewBag.Title = "Contacts Cards";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_PeopleBreadCrumb")
            <h2 class="font-light m-b-xs">
                Persons
            </h2>
            <small>Card version of Persons.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <span class="pull-right"><a class="btn btn-primary" href="/Administration/StronglyTypedContact/NewPerson"><i class="fa fa-plus"></i>&nbsp;New Person</a></span>
        </div>

    </div>
    
    <div class="row">
        @foreach (var i in Model.Contact)
        {
            <div class="col-lg-3">
                <div class="hpanel hyellow contact-panel">
                    <div class="panel-body">
                        @Html.Gravatar(i.Gravatar, 76, new { Title = i.FirstName + " " + i.LastName + " Profile", Alt = i.FirstName + " " + i.LastName, Class = "img-circle m-b" })
                        <h3><a href=""> @i.FirstName @i.LastName </a></h3>
                        <div class="text-muted font-bold m-b-xs">@i.Country.CountryName</div>
                    </div>
                    <div class="panel-footer contact-footer">
                        <div class="row">
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>Attributes: </span> <strong><a href="/Administration/Contact/AssignContact/@i.Id">@Model.ContactAtrribute.Where(ca => ca.ContactId == i.Id).Count()</a></strong></div> </div>
                            <div class="col-md-4 border-right"> <div class="contact-stat"><span>DOB: </span> <strong>@i.DateOfBirth.ToString("dd/MM/yyyy")</strong></div> </div>
                            <div class="col-md-4"> <div class="contact-stat"><span>TELEPHONE: </span> <strong>@i.Phone</strong></div> </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>
