﻿@model IEnumerable<HIPPOPEOPLE.Models.Contact>

@{
    ViewBag.Title = "Contacts MVC";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            @Html.Partial("_PeopleBreadCrumb")
            <h2 class="font-light m-b-xs">
                Persons
            </h2>
            <small>Using Native MVC Functionality.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <span class="pull-right"><a class="btn btn-primary" href="/Administration/StronglyTypedContact/NewPerson"><i class="fa fa-plus"></i>&nbsp;New Person</a></span>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                    This is a bordered striped and responsive table
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Middle Name</th>
                                    <th>Last Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Country</th>
                                    <th>DOB</th>
                                    <th>Created On</th>
                                    <th>Last Updated</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td>@i.FirstName</td>
                                        <td>@i.MiddleName</td>
                                        <td>@i.LastName</td>
                                        <td>@i.EmailAddress</td>
                                        <td>@i.Phone</td>
                                        <td>@i.Country.CountryName</td>
                                        <td>@i.DateOfBirth.ToString("dd/mm/yyyy")</td>
                                        <td>@i.DateCreated.ToString("dd/mm/yyyy")</td>
                                        <td>@i.DateLastUpdated.ToString("dd/mm/yyyy")</td>
                                        <td>
                                            <a href="/Administration/Contact/AssignContact/@i.Id" data-toggle="tooltip" title="Assign Attribute"><i class="fa fa-hand-lizard-o fa-2x"></i></a> 
                                            <a href="/Administration/StronglyTypedContact/EditPerson/@i.Id" data-toggle="tooltip" title="Edit Person"><i class="fa fa-edit fa-2x" style="color:blue"></i></a> 
                                            <a href="/Administration/StronglyTypedContact/DeletePerson/@i.Id" data-toggle="tooltip" title="Delete Person"><i class="fa fa-trash fa-2x" style="color:red"></i></a> 
                                        </td>
                                    </tr>
                                }
                                
                            </tbody>
                        </table>
                    </div>

                </div>
                <div class="panel-footer">
                    Table - @Model.Count() rows
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Administration/General.js"></script>
}
