﻿@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_EtimLayout.cshtml";
}
<p><br /><br /></p>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="widget ">
                <div class="widget-header">
                    <h3><i class="fa fa-unlock"></i>&nbsp;Account</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">                   

                    <hgroup class="title">
                        <h1>@ViewBag.Title.</h1>
                    </hgroup>
                    <div>
                        <p>
                            Please check your email to reset your password.
                        </p>
                    </div>
                </div> <!-- /widget-content test-->
            </div> <!-- /widget -->
        </div> <!-- /span8 -->
    </div> <!-- /row -->
    <div id="BillModal" class="emitModal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>

	
