﻿@model InfiniEtimDev.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_EtimLayout.cshtml";
}

<p><br /><br /></p>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="widget ">
                <div class="widget-header">
                    <h3><i class="fa fa-unlock"></i>&nbsp;Account</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    <h2>@ViewBag.Title</h2>
                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form"}))
                    {

                        @Html.AntiForgeryToken()
                        <h4>Enter your email.</h4>
                        <hr />
                        <div style="margin:0 auto;width:75%;text-align:left">
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <input type="submit" class="btn btn-primary" value="Send Me The Email Link" />
                            </div>
                        </div>
                        </div>
                    }

                    @section Scripts {
                        @Scripts.Render("~/bundles/jqueryval")
                    }
                
                    
                </div> <!-- /widget-content test-->
            </div> <!-- /widget -->
        </div> <!-- /span8 -->
    </div> <!-- /row -->
    <div id="BillModal" class="emitModal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
</div>

