﻿@{
    ViewBag.Title = "HIPPOPEOPLE Dashboard";
    ViewBag.ExtraClasses = "fixed-sidebar fixed-navbar";
    Layout = "~/Views/Shared/_Layout_Hippo_Blank.cshtml";
}


<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

            <div id="hbreadcrumb" class="pull-right m-t-lg">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Administration")">Dashboard</a></li>
                    <li class="active">
                        <a href="@Url.Action("StronglyTypedContact", "Administration")">Persons</a>
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Project Info
            </h2>
            <small>Summary of the project</small>
        </div>
    </div>
</div>

<div class="content animate-panel">

    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="hpanel">

                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1">Setup</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-2">Conventions</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-3">Persons Javascript</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-4">Persons MVC</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-5">Persons AngularJS</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-6">Shared Utilities</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-7">Persons Telerik</a></li>
                        <li class=""><a data-toggle="tab" href="#tab-8">Repository Pattern</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong>Get Source Code</strong>
                                    </div>
                                </div>
                                

                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3">
                                        <div class="col-lg-6">
                                            <div class="hpanel">
                                                <div class="panel-body text-center h-200">
                                                    <a href="https://infiniteghoz@bitbucket.org/tegohznerds/people.git">
                                                        <i class="fa fa-clone fa-4x"></i>

                                                        <h3 class="font-extra-bold no-margins text-success">
                                                            CLONE
                                                        </h3>
                                                        <small>Clone Repo from Bitbucket.</small>
                                                    </a>
                                                    
                                                </div>
                                                <div class="panel-footer">
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6">
                                            <div class="hpanel">
                                                <div class="panel-body text-center h-200">
                                                    <a href="@Url.Content("~/HIPPOPEOPLE.ZIP")">
                                                        <i class="fa fa-download fa-4x"></i>

                                                        <h3 class="font-extra-bold no-margins text-success">
                                                            DOWNLOAD
                                                        </h3>
                                                        <small>Download Published Files.</small>
                                                    </a>
                                                    
                                                </div>
                                                <div class="panel-footer">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong>Modify Web.Config files</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="m-t-md">
                                            <pre>
&#x3C;connectionStrings&#x3E;
    &#x3C;add name=&#x22;HIPPOPEOPLEContext&#x22; connectionString=&#x22;Data Source=BERNARD-HP\TEGHOZAPPS;Initial Catalog=HIPPOPEOPLE; User ID=sa;Password=T@gh0z2017; Integrated Security=True&#x22; providerName=&#x22;System.Data.SqlClient&#x22; /&#x3E;
&#x3C;/connectionStrings&#x3E;
                                            </pre>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong>Default Login Details</strong>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="m-t-md">
                                            <h3>DEFAULT USERNAME: superuser</h3>
                                            <h3>DEFAULT PASSWORD: Super@2017</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-2" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <strong>Get Source Code</strong>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-6 col-lg-offset-3">
                                        <div class="col-lg-4">
                                            <div class="hpanel">
                                                <div class="panel-body text-center h-200">
                                                    <i class="fa fa-hand-lizard-o fa-4x"></i>

                                                    <h3 class="font-extra-bold no-margins text-success">
                                                        Assignment
                                                    </h3>
                                                    <small>Person to attribute assignment.</small>
                                                </div>
                                                <div class="panel-footer">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="hpanel">
                                                <div class="panel-body text-center h-200">
                                                    <i class="fa fa-edit fa-4x"></i>

                                                    <h3 class="font-extra-bold no-margins text-success">
                                                        Edit
                                                    </h3>
                                                    <small>Edit Persons.</small>
                                                </div>
                                                <div class="panel-footer">

                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-4">
                                            <div class="hpanel">
                                                <div class="panel-body text-center h-200">
                                                    <i class="fa fa-trash fa-4x"></i>

                                                    <h3 class="font-extra-bold no-margins text-success">
                                                        Delete
                                                    </h3>
                                                    <small>Delete Person.</small>
                                                </div>
                                                <div class="panel-footer">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="tab-3" class="tab-pane">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="m-t-md">
                                            <pre>
class Contact {
        //Entry Point
        Init () {
            console.log(&#x22;Contact Initialized!!&#x22;);
            var menu = this.Settings;
            this.BindUIAction(menu);
            this.datatableInit($(&#x22;#datatable-ajax&#x22;), this);
            $(&#x27;[data-toggle=&#x22;tooltip&#x22;]&#x27;).tooltip();
            $(&#x27;.datapicker&#x27;).datepicker({ format: &#x22;dd/mm/yyyy&#x22; });
        }
        //Entry point for all UI Actios
        BindUIAction(menu) {
        }
        //Initialise Datatables
        datatableInit(table, contact) {
            var $table = table;
            var details = [];
            var datatable = $table.dataTable({
                &#x22;processing&#x22;: true,
                &#x22;serverSide&#x22;: false,
                &#x22;ajax&#x22;: {
                    &#x22;url&#x22;: $table.data(&#x27;url&#x27;),
                    //&#x22;data&#x22;: { providerId: $table.data(&#x27;param&#x27;) },
                    &#x22;type&#x22;: &#x22;POST&#x22;,
                    &#x22;dataSrc&#x22;: function (result) {
                        var result = JSON.parse(result);
                        console.log(&#x22;the result: &#x22;, result);
                        $(&#x22;.dataTable-count&#x22;).html(result.data.length);
                        return result.data;
                    }
                },
                &#x22;columns&#x22;: [
                    {
                        &#x22;class&#x22;: &#x22;text-center&#x22;,
                        &#x22;orderable&#x22;: false,
                        &#x22;data&#x22;: null,
                        &#x22;defaultContent&#x22;: &#x27;&#x3C;i data-toggle class=&#x22;fa fa-plus-square-o text-primary fa-2x&#x22; style=&#x22;cursor: pointer;&#x22;&#x3E;&#x3C;/i&#x3E;&#x27;,
                    },
                    { data: &#x22;Contact.FirstName&#x22; },                       
                    { data: &#x22;Contact.MiddleName&#x22; },
                    { data: &#x22;Contact.LastName&#x22; },
                    { data: &#x22;Contact.EmailAddress&#x22; },
                    { data: &#x22;Contact.Phone&#x22; },
                    { data: &#x22;Contact.Country.CountryName&#x22; },
                    { data: &#x22;Contact.DateOfBirth&#x22; },
                    {
                        &#x22;class&#x22;: &#x22;text-center&#x22;,
                        data: function (data) {
                            var value = &#x22;&#x22;;
                            var edit = &#x22;&#x3C;a class=&#x27;btn btn-primary&#x27; href=&#x27;/Administration/StronglyTypedContact/EditPerson/&#x22; + data.Contact.Id + &#x22;&#x27;&#x3E;&#x3C;i class=&#x27;fa fa-edit&#x27;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E; &#x26;nbsp;&#x22;;
                            var del = &#x22;&#x3C;a class=&#x27;btn btn-danger&#x27; href=&#x27;/Administration/StronglyTypedContact/DeletePerson/&#x22; + data.Contact.Id + &#x22;&#x27;&#x3E;&#x3C;i class=&#x27;fa fa-trash&#x27;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x22;;
                            var assign = &#x27;&#x3C;a class=&#x22;btn btn-danger&#x22; href=&#x22;/Administration/Contact/AssignContact/&#x27; + data.Contact.Id + &#x27;&#x22; data-toggle=&#x22;tooltip&#x22; title=&#x22;Assign Attribute&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-hand-lizard-o&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E; &#x26;nbsp;&#x27;;
                            var allBtns = assign + edit + del;
                            return allBtns;
                        },                            
                    }                   
                ],
                &#x22;autoWidth&#x22;: false,
                aoColumnDefs: [
                    {
                        bSortable: false,
                        aTargets: [0],
                        width: &#x22;5px&#x22;
                    },
                    {
                        bSortable: true,
                        aTargets: [1],
                        width: &#x22;150px&#x22;
                    },
                    {
                        bSortable: true,
                        aTargets: [2],
                        width: &#x22;150px&#x22;
                    },
                    {
                        bSortable: true,
                        aTargets: [3],
                        width: &#x22;150px&#x22;
                    },
                    {
                        bSortable: true,
                        aTargets: [4],
                        width: &#x22;100px&#x22;,
                    },
                    {
                        bSortable: true,
                        aTargets: [5],
                        width: &#x22;100px&#x22;,
                    },
                    {
                        bSortable: true,
                        aTargets: [6],
                        width: &#x22;150px&#x22;,
                    },
                    {
                        bSortable: true,
                        aTargets: [7],
                        width: &#x22;150px&#x22;,
                        type: &#x22;date&#x22;
                    },
                    {
                        bSortable: true,
                        aTargets: [8],
                        width: &#x22;150px&#x22;,
                        type: &#x22;date&#x22;
                    }]
            });
            //executable.inserTheRow($table, datatable);
            $(&#x22;.dropdown-toggle&#x22;).dropdown();
            $table.on(&#x27;click&#x27;, &#x27;i[data-toggle]&#x27;, function () {
                var $this = $(this),
                    tr = $(this).closest(&#x27;tr&#x27;).get(0);
                if (datatable.fnIsOpen(tr)) {
                    $this.removeClass(&#x27;fa-minus-square-o&#x27;).addClass(&#x27;fa-plus-square-o&#x27;);
                    datatable.fnClose(tr);
                } else {
                    $this.removeClass(&#x27;fa-plus-square-o&#x27;).addClass(&#x27;fa-minus-square-o&#x27;);
                    $(&#x22;.dropdown-toggle&#x22;).dropdown();
                    datatable.fnOpen(tr, contact.fnFormatDetails(datatable, tr, contact), &#x27;details&#x27;);
                    $(&#x22;.dropdown-toggle&#x22;).dropdown();
                }
            });
            $(&#x27;[data-toggle=&#x22;tooltip&#x22;]&#x27;).tooltip();
        }
        //Manage Child Tables 
        fnFormatDetails (datatable, tr, contact) {
            var data = datatable.fnGetData(tr);
            console.log(&#x22;data details: &#x22;, data);
            return [
                &#x27;&#x3C;table class=&#x22;table mb-none&#x22;&#x3E;&#x27;,
                    &#x27;&#x3C;tr class=&#x22;b-top-none&#x22;&#x3E;&#x27;,
                        &#x27;&#x3C;td&#x3E;&#x3C;label class=&#x22;mb-none&#x22;&#x3E;Created On:&#x3C;/label&#x3E;&#x3C;/td&#x3E;&#x27;,
                        &#x27;&#x3C;td&#x3E;&#x27; + data.Contact.DateCreated + &#x27;&#x3C;/td&#x3E;&#x27;,
                        &#x27;&#x3C;td&#x3E;&#x3C;label class=&#x22;mb-none&#x22;&#x3E;Last Updated:&#x3C;/label&#x3E;&#x3C;/td&#x3E;&#x27;,
                        &#x27;&#x3C;td&#x3E;&#x27; + data.Contact.DateLastUpdated + &#x27;&#x3C;/td&#x3E;&#x27;,
                    &#x27;&#x3C;/tr&#x3E;&#x27;,
                &#x27;&#x3C;/table&#x3E;&#x3C;h3&#x3E;&#x27;+ data.Contact.FirstName + &#x22; &#x22; + data.Contact.LastName +&#x27; Attributes&#x3C;/h3&#x3E;&#x27;
            ,
            &#x27;&#x3C;table class=&#x22;table mb-none&#x22;&#x3E;&#x27;,
                    contact.GenerateChildRows(data.ContactAtrribute, contact),
                &#x27;&#x3C;/table&#x3E;&#x27;].join(&#x27;&#x27;);
            $(&#x27;[data-toggle=&#x22;tooltip&#x22;]&#x27;).tooltip();
        }
        GenerateChildRows(array, contact) {
            var str = &#x22;&#x22;;
            $.each(array, (index, ca) =&#x3E; {
                console.log(&#x22;ca: &#x22; + ca);
                str += &#x27;&#x3C;tr class=&#x22;b-top-none&#x22;&#x3E;&#x27;+
                &#x27;&#x3C;td&#x3E;&#x3C;label class=&#x22;mb-none&#x22;&#x3E;Attribute:&#x3C;/label&#x3E;&#x3C;/td&#x3E;&#x27; +
                &#x27;&#x3C;td&#x3E;&#x27; + ca.AttributeType.Attribute + &#x27;&#x3C;/td&#x3E;&#x27; +
                &#x27;&#x3C;td&#x3E;&#x3C;label class=&#x22;mb-none&#x22;&#x3E;Value:&#x3C;/label&#x3E;&#x3C;/td&#x3E;&#x27; +
                &#x27;&#x3C;td&#x3E;&#x27; + ca.Value + &#x27;&#x3C;/td&#x3E;&#x27; +
                &#x27;&#x3C;td&#x3E;&#x27; + contact.GenerateChildRowActions(ca, contact) + &#x27;&#x3C;/td&#x3E;&#x27; +
                &#x27;&#x3C;/tr&#x3E;&#x27;;
            });
            return str;
        }
        GenerateChildRowActions(data, contact) {
            var del = &#x22;&#x3C;a class=&#x27;btn btn-danger&#x27; href=&#x27;/Administration/ContactAttribute/Delete/&#x22; + data.AttributeType.Id + &#x22;&#x27;&#x3E;&#x3C;i class=&#x27;fa fa-trash&#x27;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x22;;
            var allBtns = del;
            return allBtns;         
        }
    }
    var contact = new Contact();
    contact.Init();
                                            </pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-4" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="m-t-md">
                                        <pre>
public ViewResult StronglyTypedContact()
{
    return View(contactManagerRepo.Contacts.ToList());
}


@@model IEnumerable&#x3C;HIPPOPEOPLE.Models.Contact&#x3E;
@@{
    ViewBag.Title = &#x22;Contacts MVC&#x22;;
    ViewBag.ExtraClasses = &#x22;fixed-sidebar fixed-navbar&#x22;;
}


&#x3C;table cellpadding=&#x22;1&#x22; cellspacing=&#x22;1&#x22; class=&#x22;table table-bordered table-striped&#x22;&#x3E;
                            &#x3C;thead&#x3E;
                                &#x3C;tr&#x3E;
                                    &#x3C;th&#x3E;First Name&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Middle Name&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Last Name&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Email&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Phone&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Country&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;DOB&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Created On&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Last Updated&#x3C;/th&#x3E;
                                    &#x3C;th&#x3E;Action&#x3C;/th&#x3E;
                                &#x3C;/tr&#x3E;
                            &#x3C;/thead&#x3E;
                            &#x3C;tbody&#x3E;
                                @@foreach (var i in Model)
                                {
                                    &#x3C;tr&#x3E;
                                        &#x3C;td&#x3E;@@i.FirstName&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.MiddleName&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.LastName&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.EmailAddress&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.Phone&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.Country.CountryName&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.DateOfBirth.ToString(&#x22;dd/mm/yyyy&#x22;)&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.DateCreated.ToString(&#x22;dd/mm/yyyy&#x22;)&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;@@i.DateLastUpdated.ToString(&#x22;dd/mm/yyyy&#x22;)&#x3C;/td&#x3E;
                                        &#x3C;td&#x3E;
                                            &#x3C;a href=&#x22;/Administration/Contact/AssignContact/@@i.Id&#x22; data-toggle=&#x22;tooltip&#x22; title=&#x22;Assign Attribute&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-hand-lizard-o fa-2x&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E; 
                                            &#x3C;a href=&#x22;/Administration/StronglyTypedContact/EditPerson/@@i.Id&#x22; data-toggle=&#x22;tooltip&#x22; title=&#x22;Edit Person&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-edit fa-2x&#x22; style=&#x22;color:blue&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E; 
                                            &#x3C;a href=&#x22;/Administration/StronglyTypedContact/DeletePerson/@@i.Id&#x22; data-toggle=&#x22;tooltip&#x22; title=&#x22;Delete Person&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-trash fa-2x&#x22; style=&#x22;color:red&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E; 
                                        &#x3C;/td&#x3E;
                                    &#x3C;/tr&#x3E;
                                }
                                
                            &#x3C;/tbody&#x3E;
                                            </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-5" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="m-t-md">
                                        <pre>
var app = angular.module(&#x27;hippoApp&#x27;, [&#x27;ui.bootstrap&#x27;]);
app.filter(&#x27;startFrom&#x27;, function () {
    return function (input, start) {
        if (input) {
            start = +start; //parse to int
            return input.slice(start);
        }
        return [];
    }
});
app.controller(&#x27;patients&#x27;, function ($scope, $http, $timeout) {
    $http.get(&#x27;/Administration/GetContacts&#x27;).then(function (data) {
        var data = JSON.parse(data.data);
        console.log(&#x22;data: &#x22;, data.data)
        $scope.list = data.data;
        $scope.currentPage = 1; //current page
        $scope.entryLimit = 5; //max no of items to display in a page
        $scope.filteredItems = $scope.list.length; //Initially for no filter  
        $scope.totalItems = $scope.list.length;
    });
    $scope.setPage = function (pageNo) {
        $scope.currentPage = pageNo;
    };
    $scope.filter = function () {
        $timeout(function () {
            $scope.filteredItems = $scope.filtered.length;
        }, 10);
    };
    $scope.sort_by = function (predicate) {
        $scope.predicate = predicate;
        $scope.reverse = !$scope.reverse;
    };
});


&#x3C;div class=&#x22;row&#x22; ng-app=&#x22;hippoApp&#x22; ng-app lang=&#x22;en&#x22;&#x3E;
        &#x3C;div class=&#x22;col-lg-12&#x22;  ng-controller=&#x22;patients&#x22;&#x3E;
            &#x3C;div class=&#x22;hpanel&#x22;&#x3E;
                &#x3C;div class=&#x22;panel-heading&#x22;&#x3E;
                    &#x3C;div class=&#x22;panel-tools&#x22;&#x3E;
                        &#x3C;a class=&#x22;showhide&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-chevron-up&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;
                        &#x3C;a class=&#x22;closebox&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-times&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;
                    &#x3C;/div&#x3E;
                    This is a HtML 5 and AngularJS
                &#x3C;/div&#x3E;
                &#x3C;div class=&#x22;panel-body&#x22;&#x3E;
                    &#x3C;div&#x3E;
                        &#x3C;div class=&#x22;&#x22;&#x3E;
                            &#x3C;div class=&#x22;row&#x22;&#x3E;
                                &#x3C;div class=&#x22;col-md-2&#x22;&#x3E;
                                    PageSize:
                                    &#x3C;select ng-model=&#x22;entryLimit&#x22; class=&#x22;form-control&#x22;&#x3E;
                                        &#x3C;option&#x3E;5&#x3C;/option&#x3E;
                                        &#x3C;option&#x3E;10&#x3C;/option&#x3E;
                                        &#x3C;option&#x3E;20&#x3C;/option&#x3E;
                                        &#x3C;option&#x3E;50&#x3C;/option&#x3E;
                                        &#x3C;option&#x3E;100&#x3C;/option&#x3E;
                                    &#x3C;/select&#x3E;
                                &#x3C;/div&#x3E;
                                &#x3C;div class=&#x22;col-md-3&#x22;&#x3E;
                                    Filter:
                                    &#x3C;input type=&#x22;text&#x22; ng-model=&#x22;search&#x22; ng-change=&#x22;filter()&#x22; placeholder=&#x22;Filter&#x22; class=&#x22;form-control&#x22; /&#x3E;
                                &#x3C;/div&#x3E;
                                &#x3C;div class=&#x22;col-md-7&#x22;&#x3E;
                                    &#x3C;h5&#x3E;Filtered {{ filtered.length }} of {{ totalItems}} total Persons&#x3C;/h5&#x3E;
                                &#x3C;/div&#x3E;
                            &#x3C;/div&#x3E;
                            &#x3C;br /&#x3E;
                            &#x3C;div class=&#x22;table-condensed&#x22;&#x3E;
                                &#x3C;div class=&#x22;col-md-12 table-condensed&#x22; ng-show=&#x22;filteredItems &#x3E; 0&#x22;&#x3E;
                                    &#x3C;table class=&#x22;table table-striped table-bordered table-responsive table-condensed&#x22;&#x3E;
                                        &#x3C;thead&#x3E;
                                            &#x3C;tr&#x3E;
                                                &#x3C;th&#x3E;First Name&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;FirstName&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;Middle Name&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;MiddleName&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;Last Name&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;LastName&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;Email&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;EmailAddress&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;Phone&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;Phone&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;Country&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;Country&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;DateOfBirth&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;DateOfBirth&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;Created On&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;DateCreated&#x27;);&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;Last Updated&#x26;nbsp;&#x3C;a ng-click=&#x22;sort_by(&#x27;DateLastUpdated&#x27;)&#x22;&#x3E;&#x3C;i class=&#x22;glyphicon glyphicon-sort&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;&#x3C;/th&#x3E;
                                                &#x3C;th&#x3E;&#x3C;/th&#x3E;
                                            &#x3C;/tr&#x3E;
                                        &#x3C;/thead&#x3E;
                                        &#x3C;tbody&#x3E;
                                            &#x3C;tr ng-repeat=&#x22;data in filtered = (list | filter:search | orderBy : predicate :reverse) | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit&#x22;&#x3E;
                                                &#x3C;td&#x3E;{{data.FirstName}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.MiddleName}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.LastName}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.EmailAddress}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.Phone}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.Country.CountryName}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.DateOfBirth}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.DateCreated}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;{{data.DateLastUpdated}}&#x3C;/td&#x3E;
                                                &#x3C;td&#x3E;
                                                    &#x3C;a href=&#x22;/Administration/Contact/AssignContact/{{data.Id}}&#x22; data-toggle=&#x22;tooltip&#x22; title=&#x22;Assign Attribute&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-hand-lizard-o fa-2x&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;
                                                    &#x3C;a href=&#x22;/Administration/StronglyTypedContact/EditPerson/{{data.Id}}&#x22; data-toggle=&#x22;tooltip&#x22; title=&#x22;Edit Person&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-edit fa-2x&#x22; style=&#x22;color:blue&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;
                                                    &#x3C;a href=&#x22;/Administration/StronglyTypedContact/DeletePerson/{{data.Id}}&#x22; data-toggle=&#x22;tooltip&#x22; title=&#x22;Delete Person&#x22;&#x3E;&#x3C;i class=&#x22;fa fa-trash fa-2x&#x22; style=&#x22;color:red&#x22;&#x3E;&#x3C;/i&#x3E;&#x3C;/a&#x3E;
                                                &#x3C;/td&#x3E;
                                            &#x3C;/tr&#x3E;
                                        &#x3C;/tbody&#x3E;
                                    &#x3C;/table&#x3E;
                                &#x3C;/div&#x3E;
                                &#x3C;div class=&#x22;col-md-12&#x22; ng-show=&#x22;filteredItems == 0&#x22;&#x3E;
                                    &#x3C;div class=&#x22;col-md-12&#x22;&#x3E;
                                        &#x3C;h4&#x3E;No Person found&#x3C;/h4&#x3E;
                                    &#x3C;/div&#x3E;
                                &#x3C;/div&#x3E;
                                &#x3C;div class=&#x22;col-md-12&#x22; ng-show=&#x22;filteredItems &#x3E; 0&#x22;&#x3E;
                                    &#x3C;div pagination=&#x22;&#x22; page=&#x22;currentPage&#x22; on-select-page=&#x22;setPage(page)&#x22; boundary-links=&#x22;true&#x22; total-items=&#x22;filteredItems&#x22; items-per-page=&#x22;entryLimit&#x22; class=&#x22;pagination-small&#x22; previous-text=&#x22;&#x26;laquo;&#x22; next-text=&#x22;&#x26;raquo;&#x22;&#x3E;&#x3C;/div&#x3E;
                                &#x3C;/div&#x3E;
                            &#x3C;/div&#x3E;
                        &#x3C;/div&#x3E;
                    &#x3C;/div&#x3E;
                &#x3C;/div&#x3E;
                &#x3C;div class=&#x22;panel-footer&#x22;&#x3E;
                    Table - {{ totalItems}} rows
                &#x3C;/div&#x3E;
            &#x3C;/div&#x3E;
        &#x3C;/div&#x3E;
    &#x3C;/div&#x3E;

                                            </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-6" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="m-t-md">
                                        <pre>
class Utilities {
    DateFormat(field) {
        return &#x22;#= kendo.toString(kendo.parseDate(&#x22; + field + &#x22;, &#x27;yyyy-MM-dd&#x27;), &#x27;dd/MM/yyyy&#x27;) #&#x22;;
    }
    SetKendoGrid (Element, Options) {
        //console.log(&#x22;kendo s: &#x22;, kendos);
        var grid = Element.kendoGrid(Options);
        console.log(&#x22;kendo grid: &#x22;, grid);
        return kendo;
    }
    getJson (options) {
        return $.ajax({
            url: options.url,
            type: options.type,
            dataType: options.dataType,
            method: options.method,
            jsonpCallback: options.jsonpCallback,
            success: options.successCallback || renderData,
            error: null,
            timeout: options.timeout
        });
    }
    postJson (options) {
        return $.ajax({
            url: options.url,
            data: options.data,
            method: options.method,
            type: options.type,
            dataType: options.dataType,
            error: null,
            timeout: options.timeout,
            success: options.successCallback || renderData,
            complete: options.completeCallback,
            //done: options.doneCallback
        }); 
    }
    htmlDecode (value) {
        return value.replace(/&#x26;lt;/g, &#x22;&#x3C;&#x22;).replace(/&#x26;gt;/g, &#x22;&#x3E;&#x22;);
    }
}
                                            </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-7" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="m-t-md">
                                        <pre>
class ContactKendo {
        constructor(utils) {
            this.Utilities = utils;
        }
        //Entry Point
        Init () {
            console.log(&#x22;Contact Initialized!!&#x22;);
            var menu = this.Settings;
            this.BindUIAction(menu);
            $(document).ready(function () {
                $(&#x27;[data-toggle=&#x22;tooltip&#x22;]&#x27;).tooltip();
            });
            this.HandleTable($(&#x27;.persons&#x27;), this.Utilities, this);
        }
        //Entry point for UI Actions
        BindUIAction(menu) {
        }
        //Initialise Telerik Kendo Grid
        initTable(element, options, Utilities) {
            Utilities.SetKendoGrid(element, options);
        }
        //Handle Table
        HandleTable(element, utils, contactKendo) {            
            var pageSize = 100;
            console.log(&#x22;pageSize: &#x22;, pageSize);
            var dataSource = new kendo.data.DataSource({
                type: &#x22;aspnetmvc-ajax&#x22;,
                transport: {
                    read: {
                        url: &#x27;/Administration/GeTelerikContacts&#x27;
                    }
                },
                schema: {
                    model: {
                        fields: {
                            DateOfBirth: { type: &#x22;date&#x22; },
                            DateCreated: { type: &#x22;date&#x22; },
                            DateLastUpdated: { type: &#x22;date&#x22; },
                        }
                    },
                    data: function (response) {
                        var responses = JSON.parse(response);
                        console.log(&#x22;responses data: &#x22;, responses.data);
                        return responses.data.Data;
                    },
                    total: function (response) {
                        var responses = JSON.parse(response);
                        console.log(&#x22;responses length: &#x22;, responses.total);
                        $(&#x22;.dataTable-count&#x22;).html(responses.total);
                        return responses.total;
                    }
                },
                                    
                pageSize: pageSize,
                resizable: true,
                serverPaging: true,
                serverFiltering: true,
                serverSorting: true,
            });
            var columns = [];
            columns.push({ field: &#x22;FirstName&#x22;, title: &#x22;First Name&#x22; });
            columns.push({ field: &#x22;MiddleName&#x22;, title: &#x22;Middle Name&#x22;});
            columns.push({ field: &#x22;LastName&#x22;, title: &#x22;Last Name&#x22; });
            columns.push({ field: &#x22;EmailAddress&#x22;, title: &#x22;Email&#x22; });
            columns.push({ field: &#x22;Phone&#x22;, title: &#x22;Phone&#x22; });
            columns.push({ field: &#x22;Country.CountryName&#x22;, title: &#x22;Country&#x22;});           
           
            columns.push({ field: &#x22;Action&#x22;, title: &#x22;Action&#x22;, template: contactKendo.tplAction, width: &#x22;150px&#x22; });
            var options = {
                dataSource: dataSource,
                columns: columns,
                sortable: true,
                filterable: true,
                columnMenu: true,
                navigatable: true,
                resizable: true,
                pageable: {
                    buttonCount: 10,
                    pageSizes: [10, 20, 30, 50, 100, &#x22;all&#x22;],
                    numeric: true,
                    info: true,
                    refresh: true,
                    input: true
                    //pageSizes: true,
                },
                noRecords: {
                    template: &#x22;No data available on current page. Current page is: #=this.dataSource.page()#&#x22;
                },
                detailInit: contactKendo.DetailInit,
                dataBound: function () {
                },
                //pageable: true,
                groupable: true,
                editable: &#x22;inline&#x22;
            };
            contactKendo.initTable(element, options, utils);
        }
        //Manage Child Tables 
        DetailInit(e) {
            console.log(&#x22;THIS&#x22;, this);
            $(&#x22;&#x3C;div/&#x3E;&#x22;).appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    type: &#x22;aspnetmvc-ajax&#x22;,
                    transport: {
                        read: {
                            url: &#x22;/Administration/GeTelerikContacts&#x22;,
                            data: { contactId: e.data.Id }
                        },
                    },
                    schema: {
                        data: function (response) {
                            var responses = JSON.parse(response);
                            return responses.data.Data;
                        },
                        total: function (response) {
                            var responses = JSON.parse(response);
                            return responses.total;
                        }
                    },
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10,
                    //filter: { field: &#x22;EmployeeID&#x22;, operator: &#x22;eq&#x22;, value: e.data.EmployeeID }
                },
                scrollable: false,
                sortable: true,
                resizable: true,
                pageable: true,
                columns: [
                    { field: &#x22;DateOfBirth&#x22;, title: &#x22;DOB&#x22;, template: utils.DateFormat(&#x22;DateOfBirth&#x22;), width: &#x22;90px&#x22; },
                    { field: &#x22;DateCreated&#x22;, title: &#x22;Created On&#x22;, template: utils.DateFormat(&#x22;DateCreated&#x22;), width: &#x22;90px&#x22; },
                    { field: &#x22;DateLastUpdated&#x22;, title: &#x22;Last Updated&#x22;, template: utils.DateFormat(&#x22;DateLastUpdated&#x22;), width: &#x22;90px&#x22; }
                ]
            });
            $(&#x22;&#x3C;div/&#x3E;&#x22;).appendTo(e.detailCell).kendoGrid({
                dataSource: {
                    type: &#x22;aspnetmvc-ajax&#x22;,
                    transport: {
                        read: {
                            url: &#x22;/Administration/GeTelerikContactAttributes&#x22;,
                            data: { contactId: e.data.Id }
                        },
                    },
                    schema: {
                        data: function (response) {
                            var responses = JSON.parse(response);
                            return responses.data.Data;
                        },
                        total: function (response) {
                            var responses = JSON.parse(response);
                            return responses.total;
                        }
                    },
                    serverPaging: true,
                    serverSorting: true,
                    serverFiltering: true,
                    pageSize: 10,
                    //filter: { field: &#x22;EmployeeID&#x22;, operator: &#x22;eq&#x22;, value: e.data.EmployeeID }
                },
                scrollable: false,
                sortable: true,
                resizable: true,
                pageable: true,
                columns: [
                    { field: &#x22;AttributeType.Attribute&#x22;, title: &#x22;Attribute&#x22; },
                    { field: &#x22;Value&#x22;, title: &#x22;Value&#x22; },
                    { field: &#x22;DateCreated&#x22;, title: &#x22;Created On&#x22; },
                    { field: &#x22;&#x22;, title: &#x22;Action&#x22;, template: contact.tplChildAction, width: &#x22;60px&#x22; },
                ]
            });
        }
        //Generate Row Action Buttons
        tplAction(dataItem) {
            var result = &#x27;&#x27;;
            var editUrl = &#x22;/Administration&#x22; + &#x22;/StronglyTypedContact/EditPerson/&#x22; + dataItem.Id;
            var edit = &#x27;&#x3C;a href=&#x22;&#x27; + editUrl + &#x27;&#x22; id=&#x22;edit&#x22; class=&#x22;btn btn-primary&#x22; data-attr=&#x22;&#x27; + dataItem.Id + &#x27;&#x22;&#x3E;&#x27; +
                        &#x27;&#x3C;i class=&#x22;fa fa-edit&#x22;&#x3E;&#x3C;/i&#x3E;&#x27; + &#x27;&#x3C;span class=&#x22;sr-only&#x22;&#x3E;Edit Person&#x3C;/span&#x3E;&#x27; + &#x27;&#x3C;/a&#x3E;&#x26;nbsp;&#x27;;
            var deleteUrl = &#x22;/Administration&#x22; + &#x22;/StronglyTypedContact/DeletePerson/&#x22; + dataItem.Id;
            var del = &#x27;&#x3C;a href=&#x22;&#x27; + deleteUrl + &#x27;&#x22; class=&#x22;btn btn-danger&#x22;&#x3E;&#x27; +
                        &#x27;&#x3C;i class=&#x22;fa fa-trash-o&#x22;&#x3E;&#x3C;/i&#x3E;&#x27; + &#x27;&#x3C;span class=&#x22;sr-only&#x22;&#x3E;Delete Person&#x3C;/span&#x3E;&#x27; + &#x27;&#x3C;/a&#x3E;&#x26;nbsp;&#x27;;
            var assignUrl = &#x22;/Administration&#x22; + &#x22;/Contact/AssignContact/&#x22; + dataItem.Id;
            var assign = &#x27;&#x3C;a href=&#x22;&#x27; + assignUrl + &#x27;&#x22; id=&#x22;edit&#x22; class=&#x22;btn btn-primary&#x22; data-attr=&#x22;&#x27; + dataItem.Id + &#x27;&#x22;&#x3E;&#x27; +
                        &#x27;&#x3C;i class=&#x22;fa fa-hand-lizard-o&#x22;&#x3E;&#x3C;/i&#x3E;&#x27; + &#x27;&#x3C;span class=&#x22;sr-only&#x22;&#x3E;Assing Person&#x3C;/span&#x3E;&#x27; + &#x27;&#x3C;/a&#x3E;&#x26;nbsp;&#x27;;
            var str = assign + edit + del;
            result = utils.htmlDecode(str);
            return result;
        }
        tplChildAction(dataItem) {
            console.log(&#x22;dataItem child&#x22;, dataItem);
            var result = &#x27;&#x27;;
            var deleteUrl = &#x22;/Administration&#x22; + &#x22;/ContactAttribute/Delete/&#x22; + dataItem.Id;
            var del = &#x27;&#x3C;a href=&#x22;&#x27; + deleteUrl + &#x27;&#x22; class=&#x22;btn btn-danger&#x22;&#x3E;&#x27; +
                        &#x27;&#x3C;i class=&#x22;fa fa-trash-o&#x22;&#x3E;&#x3C;/i&#x3E;&#x27; + &#x27;&#x3C;span class=&#x22;sr-only&#x22;&#x3E;Delete Person&#x3C;/span&#x3E;&#x27; + &#x27;&#x3C;/a&#x3E;&#x26;nbsp;&#x27;;
            var str = del;
            result = utils.htmlDecode(str);
            return result;
        }
    }
    var utils = new Utilities();
    var contact = new ContactKendo(utils);
    contact.Init();
                                            </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="tab-8" class="tab-pane">
                            <div class="panel-body">
                                <div class="col-lg-12">
                                    <div class="m-t-md">
                                       <pre>
------------------------IContactRepository.cs-------------------

using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using HIPPOPEOPLE.Models;
namespace HIPPOPEOPLE.Models
{
    public interface IContactRepository
    {
        void Delete(Contact contact);
        Contact Save(Contact contact);
        IEnumerable&#x3C;Contact&#x3E; Contacts { get; }
    }
}


------------------------ContactManagerRepository.cs-------------------


using System;
using System.Collections.Generic;
using System.Linq;
using System.Web;
using System.Data.Entity;
namespace HIPPOPEOPLE.Models
{
    public class ContactManagerRepository : IContactRepository
    {
        private ApplicationDbContext context;
        public ContactManagerRepository(ApplicationDbContext context)
        {
            this.context = context;
        }
        public IEnumerable&#x3C;Contact&#x3E; Contacts
        {
            get
            {
                return context.Contact;
            }
        }
        public void Delete(Contact contact)
        {
            context.Contact.Remove(contact);
            context.SaveChanges();
        }
        public Contact Save(Contact contact)
        {
            if(contact.Id == 0)
            {
                context.Contact.Add(contact);
            }
            else
            {
                context.Entry(contact).State = EntityState.Modified;                
            }
            context.SaveChanges();
            return contact;
        }
    }
}

-------------AdministrationController.cs----------------
ApplicationDbContext db = new ApplicationDbContext();
IContactRepository contactManagerRepo;
IAttributeTypeRepository attributeTypeRepo;
ICountryRepository countriesManagerRepo;
IContactAttributeRepository contactAttributesRepo;
#region CONSTRUCTORS
public AdministrationController()
{
    contactManagerRepo = new ContactManagerRepository(db);
    attributeTypeRepo = new AttributeTypeRepository(db);
    countriesManagerRepo = new CountryManagerRepository(db);
    contactAttributesRepo = new ContactAttributeManagerRepository(db);
}
public AdministrationController(ContactManagerRepository contactRepo, AttributeTypeRepository attributeRepo, CountryManagerRepository countryRepo, ContactAttributeManagerRepository contactAttributeRepo)
{
    contactManagerRepo = contactRepo;
    attributeTypeRepo = attributeRepo;
    countriesManagerRepo = countryRepo;
    contactAttributesRepo = contactAttributeRepo;
}
public AdministrationController(IContactRepository contactRepo)
{
    contactManagerRepo = contactRepo;
}
public AdministrationController(AttributeTypeRepository attributeRepo)
{
    attributeTypeRepo = attributeRepo;
}
public AdministrationController(ContactAttributeManagerRepository contactAttributeRepo)
{
    contactAttributesRepo = contactAttributeRepo;
}
#endregion

public ViewResult StronglyTypedContact()
{
    return View(contactManagerRepo.Contacts.ToList());
}
                                            </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>