﻿@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Login";
}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <img src="~/Content/img/ui-topfm.png" alt="HIPPOPEOPLE" />
                @*<small>HIPPOPEOPLE PM</small>*@
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="@Url.Action("Login", "Account")" id="loginForms" method="post">
                        @Html.AntiForgeryToken()

                        <div>@Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>

                        @*if (!ViewData.ModelState.IsValid)
                        {
                            @Html.Raw(HttpUtility.HtmlDecode(Html.ValidationSummary(true, "", new { @class = "alert alert-danger" }).ToHtmlString()))
                        }*@

                        <div class="form-group">
                            <label class="control-label" for="username">Username</label>
                            <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="Username" id="Username" class="form-control">
                            <span class="help-block small">Your unique username to app</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="password">Password</label>
                            <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="Password" id="Password" class="form-control">
                            <span class="help-block small">Yur strong password</span>
                        </div>
                        <div class="checkbox">
                            <input type="checkbox" name="RememberMe" class="i-checks" checked>
                            Remember login
                            <p class="help-block small">(if this is a private computer)</p>
                        </div>
                        <button class="btn btn-success btn-block" role="button" onclick="$('form').submit();">Login</button>
                        @*<button class="btn btn-success btn-block" onclick="window.location.href = 'Administration/Index'">Login</button>*@
                        @*<a class="btn btn-default btn-block" href="#">Register</a>*@
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            @DateTime.Now.Year Copyright Aghogho Bernard
        </div>
    </div>
</div>
