﻿@model InfiniEtimDev.Models.RegisterViewModel
@{
    ViewBag.Title = "Admin Registration";
    Layout = "~/Views/Shared/_EtimLayout.cshtml";
}

@*@ViewBag.Title.</h2>*@<h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="account-container">

        <div class="content clearfix">

            <form action="#" method="post">

                <h1>User Registration</h1>

                <div class="login-fields">

                    <h4>Create a new account.</h4>
                    <p>Please provide your details</p>

                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <div class="field">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "login username-field", @placeholder = "Email" })
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "login password-field", @placeholder = "Password" })
                        </div>
                    </div>

                    <div class="field">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "login password-field", @placeholder = "Confirm Password" })
                        </div>
                    </div>

                </div> <!-- /login-fields -->

                <div class="login-actions">
                    <button type="submit" class="button btn btn-success btn-large">Regsiter</button>
                    <!--<input type="submit" class="btn btn-default" value="Register" />-->
                </div> <!-- .actions -->



            </form>

        </div> <!-- /content -->

    </div> <!-- /account-container -->
}



<div class="login-extra">
    <!--<a href="#">Reset Password</a>-->
</div> <!-- /login-extra -->

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
