﻿@model InfiniEtimDev.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
    //Layout = "~/Views/Shared/_EtimLayout.cshtml";
    Layout = "~/Views/Shared/_EtimDashboardLayout.cshtml";
}

<br/><br/>
<div class="container">
    <div class="row">
        <div class=" col-md-12">
            <div class="widget ">
                <div class="widget-header">
                    <h3><i class="fa fa-unlock"></i>&nbsp;@ViewBag.Title</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "@*form-horizontal*@", role = "form" }))
                       {
                        @Html.AntiForgeryToken()

                           <div class="row">
                               <div class="col-md-6 col-md-offset-3">
                                   <div class="widget ">
                                       <div class="widget-header">
                                           <h3><i class="fa fa-unlock"></i>&nbsp;@ViewBag.Title</h3>
                                       </div> <!-- /widget-header -->
                                       <div class="widget-content">

                                           @Html.ValidationSummary("", new {@class = "text-danger"})
                                           @Html.HiddenFor(model => model.Code)

                                           @*<div class="form-group">
                                               @Html.LabelFor(model => model.BillUnitName, htmlAttributes: new {@class = "control-label col-md-4"})
                                               <div class="col-md-8">
                                                   @Html.EditorFor(model => model.BillUnitName, new {htmlAttributes = new {@class = "form-control"}})
                                                   @Html.ValidationMessageFor(model => model.BillUnitName, "", new {@class = "text-danger"})
                                               </div>
                                           </div>*@

                                           <div class="form-group">
                                               @Html.LabelFor(m => m.Email, htmlAttributes: new {@class = "col-md-4 control-label"})
                                               <div class="col-md-8">
                                                   @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               @Html.LabelFor(m => m.Password, htmlAttributes: new {@class = "col-md-4 control-label"})
                                               <div class="col-md-8">
                                                   @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               @Html.LabelFor(m => m.ConfirmPassword, htmlAttributes: new {@class = "col-md-4 control-label"})
                                               <div class="col-md-8">
                                                   @Html.EditorFor(m => m.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                                               </div>
                                           </div>
                                           <div class="form-group">
                                               <label for="" class="control-label col-md-4"></label>
                                               <div class="col-md-9 col-md-offset-4">
                                                   @*<input type="submit" class="btn btn-default" value="Reset"/>*@
                                                   <button value="Reset" type="submit" class="btn btn-primary col-md-10"><i class="fa fa-unlock-alt"></i>&nbsp;Reset</button>
                                               </div>
                                           </div>

                                       </div>
                                   </div>
                               </div>
                           </div>
                       }

                        @section Scripts {
                            @Scripts.Render("~/bundles/jqueryval")
                        }

                    <!--content here-->
                </div> <!-- /widget-content test-->
            </div> <!-- /widget -->
        </div> <!-- /span8 -->
    </div> <!-- /row -->
</div>
