﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "~/Views/Shared/_EtimLayout.cshtml";
}

<br/><br/>
<div class="container">
    <br /><br />
    <div class="row">
        <div class="col-sm-12">
            <div class="widget ">
                <div class="widget-header">
                    <h3><i class="fa fa-unlock"></i>&nbsp;@ViewBag.Title</h3>
                </div> <!-- /widget-header -->
                <div class="widget-content">
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
                    </p>
                    <!--content here-->
                </div> <!-- /widget-content test-->
            </div> <!-- /widget -->
        </div> <!-- /span8 -->
    </div> <!-- /row -->
</div>

